Roll No: I081

Name: Aniruddh Kulkarni

Program: B.Tech CS (AI)

Semester: IInd Semester

Batch: Batch I3

 Aim:  To study components of a python program.

Task 1:
Program to print basic data type of a given variable

In [ ]:
a = 5
print(a, "is of type", type(a))

a = 2.0
print(a, "is of type", type(a))

a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

Task 2 : Write a program to find the roots of a quadratic equation

In [ ]:
import cmath 

a= 1
b= 4
c= 6

d =(b**2) - (4*a*c)

r1 = (-b + cmath.sqrt(d)) / (2*a)
r2 = (-b - cmath.sqrt(d))/  (2*a)

print(r1,r2)

(-2+1.4142135623730951j) (-2-1.4142135623730951j)

Task 3 : Write a program to convert from celsius to fahrenheit

In [ ]:
celsius = 31
Fahrenheit = (celsius *1.8) + 32 
print ("Temperature in Fahrenheit is: ");
print (Fahrenheit);

Temperature in Fahrenheit is:
87.80000000000001

Task 4 : 
What will the output for the following Python Code ? Justify

In [ ]:
str="NMIMS BTech Artificial intelligence"
str[11:22]

' Artificial'

Slicing starts from first index position given in this format [] and last index is not included

In [ ]:
a=10
a = a+'2'
a = a*2

TypeError: ignored

Unsupported data types for int and string

In [ ]:
x = 1234
print ("%0.8d"%x)

00001234

 hexadecimal 0 padding

Task 5 : Write a python program to convert the distance (in feet) to inches, yards and miles

In [ ]:

d_ft = int(input("Input distance in feet: "))
d_inches = d_ft * 12
d_yards = d_ft / 3.0
d_miles = d_ft / 5280.0

print("The distance in inches is %i inches." % d_inches)
print("The distance in yards is %.2f yards." % d_yards)
print("The distance in miles is %.2f miles." % d_miles)

Input distance in feet: 12
The distance in inches is 144 inches.
The distance in yards is 4.00 yards.
The distance in miles is 0.00 miles.

Task 6 :
Write a python program to solve (x+y)*(x+y). Read the values of x and y from the user. Expected output : ((x+y)^2)

In [ ]:
x, y = 4, 3
result = x * x + 2 * x * y + y * y
print("({} + {}) ^ 2) = {}".format(x, y, result))

(4 + 3) ^ 2) = 49

Task 7 : 
1.	Write a Python program to convert seconds to day, hour, minutes and seconds.

In [ ]:
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

Input time in seconds: 60
d:h:m:s-> 0:0:1:0

2.	Write a Python program to convert the number of days to years, months & days.

In [ ]:
days=int(input("Enter Day:"))

years =(int) (days / 365)
weeks =(int) (days / 7)
months =(int) (days / 30)

print("Days to Years:",years)
print("Days to Weeks:",weeks)
print("Days to Months:",months)

Enter Day:10
Days to Years: 0
Days to Weeks: 1
Days to Months: 0

Task 8 : 

1.	Write a Python Program to Calculate Area of an Ellipse.

In [ ]:
major = float(input("Enter length of major axis: "))

minor = float(input("Enter length of minor axis: "))

area = 3.141592 * major * minor

print("Area of an ellipse = ", area)

Enter length of major axis: 10
Enter length of minor axis: 12
Area of an ellipse =  376.99104

2.	Write a Python Program to Find the Surface Area of Cone.

In [ ]:
import math 
r=int(input('Enter radius of the cone'))
l=int(input('Enter len of cone'))
area=math.pi*r*(r+1)
print("Total Surface Area of the cone :", area)

Enter radius of the cone 5
Enter len of cone 6
Total Surface Area of the cone : 94.24777960769379

Task 9 : 
Write a Python program to display your birth date.  Eg : birth_date = (11, 12, 2014)
Sample Output: Your Birthdate is  : 11 / 12 / 2014

In [ ]:

d=(11,12,2014)

print("Your Birth date is: %i / %i / %i" %d)

Your Birth date is: 11 / 12 / 2014

Conclusion :
1. We learnt to print a statement using print function
2. We learnt to determine the type of function using the type function 
3. We learnt to assign values to variables
4. We learnt about different types of variables like integers, float, strings and boolean data type
5. We learnt to use various operators like arithmetic and assignment operators
6. We learnt using importing libraries like cmath and math