Roll No: I081

Name: Aniruddh Kulkarni

Program: B.Tech CS (AI)

Semester: IInd Semester

Batch: Batch I3

A.1 Aim:  To study basic data types list and tuple.

task 1 :
Write a python program to print list elements, 
1.	separated by commas.
2.	every element on the new line.

In [ ]:
list=[30,59,76,20]
print(*list, sep = ",")

30,59,76,20

In [ ]:
list=[30,59,76,20]
print(*list, sep = "\n")

30
59
76
20

Task 2 :
Write a python program to print a list by converting a list to a string.

In [ ]:
e = ["NMIMS" , "Mumbai"]

print(' , '.join(e))

NMIMS , Mumbai

Task 3 :
Write a python program to convert radian to degrees and vice versa.

In [ ]:
import numpy as np 
import math 
choice=int(input("Which task do you want to perform : covert 1) radian to degrees 2) degrees to radian :"))
if choice == 1 :
   rad=float(input("Enter your number in radian :"))
   Radian2Degree=np.deg2rad(rad)
   print("the converted radian to degree is :", Radian2Degree)
else:
   deg=float(input("Enter a number in radian :"))
   Degree2Radian=np.deg2rad(deg)
   print("the converted degree to radian is : ", Degree2Radian)

Which task do you want to perform : covert 1) radian to degrees 2) degrees to radian :1
Enter your number in radian :3.14
the converted radian to degree is : 0.05480333851262195

Task 4: Write a program to input 3 sides of a triangle and find sine, cosine, tangent and hypotenuse.

In [ ]:
import math 
a = math.pi/6
b = 6
c = 10
print(math.degrees(a))
#print(math.radians(x))


math.sin(a)
math.cos(a)
math.tan(a)
print(math.hypot(b,c))

29.999999999999996
11.661903789690601

Task 5:  
Write a Python program using mathematical functions to find
1.	HCF of two numbers (User input)
2.	Factorial of a user given number.
3.	Absolute value of a user given number.

In [ ]:
def compute_hcf(x, y):

# choose the smaller number
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = int(input("Enter a number : "))
num2 = int(input("Enter second number : "))

print("The H.C.F. is", compute_hcf(num1, num2))
print("The factorial is",math.factorial(num1))
print("The absolute value is",math.fabs(num2))

Enter a number : 5
Enter second number : 3
The H.C.F. is 1

NameError: ignored

Task 6 : 
1.	Create a 'class_1' list and pass the elements  'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio'.
2.	Create a 'class_2' list and pass the elements 'Hilary Mason','Carla Gentry','Corinna Cortes'.
3.	Concatenate the 'class_1' and 'class_2' list. Store the values in a'new_class' variable.
4.	Print the 'new_class' variable to see the new list.
5.	Add a new element ‘Henry’ in the new list. 
6.	Remove the 'Hilary' element.
7.	Create the following list for marks of 5 subjects Andrew= [98, 93, 90, 100, 92], Carla= [60, 65, 60, 75, 69], Hilary= [87, 50, 54, 77, 52]
8.	Find and display percentage of all the students in a list.
9.	Andrew Ng turns out to be topper in class. Assign it to variable ‘topper’
10.	Split the 'topper'  in 'first_name' and 'last_name'.
11.	Display the ‘full name’ concatenating the strings 'last_name' and 'first_name' strings.( add whitespace)
12.	Convert all the elements in the 'full_name' string to uppercase.

In [ ]:
class_1 = [ 'Geoffrey Hinton','Andrew Ng','Sebastian Raschka','Yoshua Bengio']
class_2 = ['Hilary Mason','Carla Gentry','Corinna Cortes']
class_1.extend(class_2)
class_1
new_class = class_1
print(new_class)
new_class.append("Henry")
print(new_class)
new_class.remove("Hilary Mason")
print(new_class)
Andrew = [98,93,90,100,92]
Carla = [60,65,60,75,69]
Hilary = [87,50,54,77,52]
a = sum(Andrew)/5
c = sum(Carla)/5
h = sum(Hilary)
k = [a,c,h]
print(k)
topper = "Andrew Ng"
first_name = topper.split()[0]
last_name = topper.split()[1]
full_name = last_name +" "+first_name 
print(full_name)
u = full_name.upper()
print(u)

['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes']
['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Hilary Mason', 'Carla Gentry', 'Corinna Cortes', 'Henry']
['Geoffrey Hinton', 'Andrew Ng', 'Sebastian Raschka', 'Yoshua Bengio', 'Carla Gentry', 'Corinna Cortes', 'Henry']
[94.6, 65.8, 320]
Ng Andrew
NG ANDREW

Task 7 :
1.	Write a Python program to clone or copy a list
2.	Write a Python program to check if a Python list is empty

In [ ]:
original_list = [11,12,13,14,15]
new_list = list(original_list)
print(original_list)
print(new_list)

[11, 12, 13, 14, 15]
[11, 12, 13, 14, 15]

In [ ]:
def Enquiry(new_list): 
    if len(new_list) == 0: 
        return 0
    else: 
        return 1
           
new_list = [] 
if Enquiry(new_list): 
    print ("The list is not empty") 
else: 
    print("Empty List")

Empty List

Task 8 : 
Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))
1.	Access value 20 
2.	Unpack the following tuple into 3 variables

In [ ]:
Tuple = ("NMIMS", [10, 20, 30], (5, 15, 25))
Tuple[1][1]

20

In [ ]:
x = Tuple[0]
print(x)

NMIMS

In [ ]:
y = Tuple[1]
print(y)

[10, 20, 30]

In [ ]:
z = Tuple[2]
print(z)

(5, 15, 25)


Task 9:
1.	Write code to swap the following two tuples :   tuple1 = (11, 22)   tuple2 = (99, 88)
Expected Output :  tuple1 = (99, 88)    tuple2 = (11, 22)

2.	tuple1 = (11, [22, 33], 44, 55)
Modify the first item (22) of a list inside a following tuple to 2000

In [ ]:
tuple1, tuple2 = (11, 22),(99, 88)
temp = tuple1
tuple1 = tuple2
tuple2 = temp


print('Tuple1 = {}'.format(tuple1))
print('Tuple2 = {}'.format(tuple2))

Tuple1 = (99, 88)
Tuple2 = (11, 22)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 2000
print(tuple1)

(11, [2000, 33], 44, 55)

Task 10:
tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)
1.	Write code to copy element 44 and 55 from the following tuple into a new tuple ‘tuple2’
2.	Count the number of occurrences of item 11 in the tuple.
3.	Reverse the tuple.

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [ ]:
def countY(tuple1, y): 
    count = 0
    for ele in tuple1: 
        if (ele == y): 
            count = count + 1
    return count

tuple1 = (11, 22, 33, 44, 55, 11, 66, 11)
enq = 11
print(countY(tuple1, enq))

3

In [ ]:
rev = tuple(reversed(tuple1))
print(rev)

(11, 66, 11, 55, 44, 33, 22, 11)



Conclusion
1.I learnt about basic data types like integer,float,boolean,string and tuples
2.I learnt how to print every element from a given list on a new line 
3.I learnt how to convert a list into a string 
4.I learnt about if...else and for loop and how to implement them 
5.I learnt to split two lists
6.I learnt to access elements from a given list 
7.I learnt to replace an element with another element from a given list 
8.I learnt to swap two tuples 
9.I learnt to take two values from a list and store them in a different variable