Roll No : I081

Name : Aniruddh Kulkarni

Program : B.Tech CS (AI)

Semester : IInd Semester

Batch I3

A.1 Aim:  To study if-else, operators and basic loops in python.

Task 1:  
A shop will give a discount of 10% if the cost of purchased quantity is more than 1000.
One unit will cost 100. Write a program to take quantity as input from the user and print the total cost for the user.

In [ ]:
print("Enter Quantity: ")
qty = float(input())

print("Enter Rate: ")
rate = float(input())

if (qty>1000) :
	dis = 10
expense = (qty*rate) - (qty*rate*dis / 100)
print("\nTotal Expenses = Rs. ", expense)

Enter Quantity:
10
Enter Rate:
110

Total Expenses = Rs.  990.0

Task 2:  
A school has following rules for grading system:
●	Below 25 - F
●	25 to 45 - E
●	45 to 50 - D
●	50 to 60 - C
●	60 to 80 - B
●	Above 80 - A
Ask the user to enter marks and print the corresponding grade.

In [ ]:


x = int(input("Enter marks : "))
if (x<25):
  print("F")
elif x>=25 and x<45:
  print("E")
elif x>=45 and x<50:
  print("D")
elif x>=50 and x<60:
  print("C")
elif x>=60 and x<80:
  print("B")
else:
  print("A")

Enter marks : 85
A

Task 3:  

Ask users to enter age, gender ( M or F ), marital status ( Y or N ) and then using the following rules print their place of service.
●	If the employee is female, then she will work only in urban areas.
●	If employee is a male and age is in between 20 to 40 then he may work in anywhere
●	If the employee is male and age is in between 40 t0 60 then he will work in urban areas only.
And any other input of age should print "ERROR".

In [ ]:
age = int(input("Enter your age : "))
gender = input("Enter your gender M or F : ")
mar = input("marital status Y or N : ")
if gender == "F":
  print("work in urban areas")
elif gender== "M" and age>20 and age<40:
  print("Work anywhere")
elif gender == "M" and age>40 and age<60:
  print("Work in urban areas only")
else:
  print("ERROR")

Enter your age : 42
Enter your gender M or F : M
marital status Y or N : Y
Work in urban areas only

Task 4: 
Write a program to print BMI (Body Mass Index) calculator.

In [ ]:


height = float(input("Input your height in meters : "))
weight = float(input("Input your weight in kilograms : "))
bmi = weight / (height * height)
print("Your body mass index is : ", round(weight / (height * height)))
if bmi>50:
  print("obese")
elif bmi>30 and bmi<50:
  print("slightly overweight")
elif bmi>20 and bmi<30:
  print("normal")
else:
  print("underweight")

Input your height in meters : 1.5
Input your weight in kilograms : 75
Your body mass index is :  33
slightly overweight

Task 5:  
Write a program to print digits in reverse order of a number.

In [ ]:
n = int(input("Enter a number : "))
sum = 0
while n>0:
  d=n%10
  sum = (sum*10)+d
  n=n//10
print(sum)

Enter a number : 56
65


Task 6 : 
Write a program to print Odd and Even numbers from the list of integers

In [ ]:
eve = 0
odd = 0
i = 0
list = [1,2,3,4,5,6,7,8,9,10]
for i in list :
  if i%2==0:
    print(i)
  else:
    print("  ",i)

   1
2
   3
4
   5
6
   7
8
   9
10


Task 7 :
Write a program to check the user entered number is an Armstrong Number.

In [ ]:
num = int(input("Enter a number : "))
sum = 0
while n>0:
  d=n%10
  sum=sum*d
  n=n/10
if sum==n:
  print("It is armstrong number")
else:
  print("It is not an armstrong number")

Enter a number : 371
It is armstrong number

Task 8 : 
Write a program to print out the decimal equivalents of 1/2,1/3,1/4,…1/10.

In [ ]:
i = 0
list = [2,3,4,5,6,7,8,9,10]
for i in list:
  print(1/i)
  i=i+1

0.5
0.3333333333333333
0.25
0.2
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111
0.1

Task 9:
Write a program to count the number of even and odd numbers from a series of numbers.

In [ ]:
eve=0
odd=0
for i in range(1,100):
  if i%2==0:
    eve=eve+1
  else:
    odd=odd+1
  print(eve,odd)

0 1
1 1
1 2
2 2
2 3
3 3
3 4
4 4
4 5
5 5
5 6
6 6
6 7
7 7
7 8
8 8
8 9
9 9
9 10
10 10
10 11
11 11
11 12
12 12
12 13
13 13
13 14
14 14
14 15
15 15
15 16
16 16
16 17
17 17
17 18
18 18
18 19
19 19
19 20
20 20
20 21
21 21
21 22
22 22
22 23
23 23
23 24
24 24
24 25
25 25
25 26
26 26
26 27
27 27
27 28
28 28
28 29
29 29
29 30
30 30
30 31
31 31
31 32
32 32
32 33
33 33
33 34
34 34
34 35
35 35
35 36
36 36
36 37
37 37
37 38
38 38
38 39
39 39
39 40
40 40
40 41
41 41
41 42
42 42
42 43
43 43
43 44
44 44
44 45
45 45
45 46
46 46
46 47
47 47
47 48
48 48
48 49
49 49
49 50

Task 10:
Write a program to display the multiplication table of 19.

In [ ]:
for i in range(1,11):
  print("19 X",i,"=",19*i)

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190


Task 11:
Write a program to print the sum of the Series 1 + x/1 + x^2/2 + x^3/3 + .. + x^n/n.

In [ ]:
n = int(input("Enter the number of terms : "))
x = int(input("Enter the value of x : "))
sum1=1
for i in range(2,n+1):
  sum1=sum1+((x**i)/i)
  print("The sum ofseries is",round(sum1,2))

Enter the number of terms : 5
Enter the value of x : 4
The sum ofseries is 9.0
The sum ofseries is 30.33
The sum ofseries is 94.33
The sum ofseries is 299.13


Task 12:
Write a program to get the Fibonacci series between 0 to 100.

In [ ]:
x,y = 0,1

while y<100:
  print(y)
  x,y = y,x+y

1
1
2
3
5
8
13
21
34
55
89

Conclusions 
1. I learnt to implement for loop, if...else loop and if...elif...else loop
2. I learnt about while loop and how to implement them. Also learnt about comparison operators like equal (==) , greater than (x>y), not greater than (x<y) operators. 
3. I have learnt to write a program to find if the given number is an armstrong number.
4.I have learnt to write the sum of series  1 + x/1 + x^2/2 + x^3/3 + .. + x^n/n using for loop.
5.I have learnt about fibonacci series and how to display them using while statement.